/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

// body {
//   background: $primary-background;
// }
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-light: #f8f9fa;
    --bg-dark: #343a40;
    --info: #17a2b8;
  }
  
  body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    background: url(../images/a_38_20140127223707.jpg)center/cover no-repeat;
    min-height: 100vh;
  }
  
  .card{
    position: relative;
    background:rgba(85, 71, 71, 0.253);
    color: #fff;
  }
  
  #img__loader{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .search__box{
    flex: 1;
    height: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
  }
  
  #search{
    flex: 1;
    height: 40px;
    box-shadow: none !important;
    border-radius: 0 !important;
    border:  none !important;
  }
  
  
  button{
    height: 40px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: orangered;
    color: #fff;
    width: 55px;
    outline: none;
  }
  
  button:focus{
    outline: none;
  }
  
  button:hover{
    background: #aaa;
    color: var(--bg-dark);
  }
  
  .city__name{
    font-size: 3rem;
    margin-bottom: 1px;
  }
  
  .weather__container{
    display: flex;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
  }
  
  .weather__container img{
    object-fit: contain;
    /* width: 140px; */
  }
  
  .weather__icon{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .feels__like{
    margin-top: -25px;
  }
  
  .weather__result{
    font-size: 6rem;
    font-weight: 300;
  
  }
  
  .card-footer{
    background: rgba(0, 0, 0, 0.301);
  }
  
  .wind, .rain, .humidity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .alert{
    position: absolute;
    top: 0;
    margin-top: -100px;
    transition: all .5s ease-in-out;
  }
  
  .empty__field.slideIn{
    margin-top: 0;
  }
  
  .wrong__city.slideIn{
    margin-top: 0;
  }
  
  
  
  @media screen and (max-width: 768px){
   
  
    .card-header{
      flex-direction: column;
    }
  
    .search__box{
      margin-left: 0;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 568px){
    .card{
      margin-top: 0;
      height: 100vh;
      color: #fff;
    }
  
    .weather__container{
      margin-top: 40px;
      flex-direction: column;
    }
  
    .weather__icon{
      margin-left: 0px;
    }
  }
  
  @media screen and (max-width: 320px){
    .card{
      margin-top: 0;
      height: 100vh;
      color: #fff;
    }
  
    .card-body .city__name{
      font-size: 2rem;
    }

    .card-body .app__date{
      font-size: 1rem;
    }
    
    .weather__container{
      margin-top: 20px;
      flex-direction: column;
    }
  
    .weather__icon{
      margin-left: 0px;
    }
  }
